#define str(s) #s
#define MACRO(NAME, BINDINGS, WAITMS, TAPMS) \
  macro_##NAME: macro_##NAME { \
      compatible = "zmk,behavior-macro"; \
      label = str(macro_##NAME); \
      #binding-cells = <0>; \
      wait-ms = <WAITMS>; \
      tap-ms = <TAPMS>; \
      bindings = <BINDINGS>; \
  };

MACRO(delete_word, &macro_press &kp LCTRL &macro_tap &kp RIGHT_ARROW &macro_press &kp LSFT &macro_tap &kp LEFT_ARROW &macro_tap &kp BSPC &macro_release &kp LCTRL &macro_release &kp LSHFT, 0, 0)
MACRO(delete_line, &macro_tap &kp END &macro_press &kp LSHFT &macro_tap &kp HOME &macro_tap &kp HOME &macro_tap &kp BSPC &kp BSPC &macro_release &kp LSHFT, 0, 0)